<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/img/whale.png}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}"/>
	<link rel="stylesheet" th:href="@{/css/login.css}"/>
	<title>Forgot password</title>
</head>
<body>
	<div class="nk-container">
		<!-- Header -->
		<header class="bg-dark sticky-top" th:replace="index::header"></header>

		<div class="main">
			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
				<h3 class="text-center border-bottom pb-3">Reset Password</h3>
				<form class="mt-5" th:action="@{/forget/password}" method="post">
					<div class="form-group row">
						<label for="your-email" class="col-sm-4 col-form-label text-right">Email:</label>
						<div class="col-sm-6">
							<input type="email" id="your-email" name="email"
								   th:class = "|form-control ${emailMsg != null ? 'is-invalid' : ''}|"
								   th:value="${param.email}"
								   autocomplete="on" required>
							<div class="invalid-feedback" th:text="${emailMsg}"></div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="verifyCode" class="col-sm-4 col-form-label text-right">Verification code:</label>
						<div class="col-sm-4">
							<input type="text" id="verifyCode" name="verifyCode"
								   th:class = "|form-control ${codeMsg != null ? 'is-invalid' : ''}|"
								   th:value="${param.verifyCode}">
							<div class="invalid-feedback" th:text="${codeMsg}"></div>
						</div>
						<div class="col-sm-2">
							<a href="javascript:;" id="verifyCodeBtn" class="btn btn-dark form-control">Acquire</a>
						</div>
					</div>	
					<div class="form-group row mt-4">
						<label for="your-password" class="col-sm-4 col-form-label text-right">New password:</label>
						<div class="col-sm-6">
							<input type="password" id="your-password" name="password" class="form-control"
								   th:value="${param.password}"
								   autocomplete="on" required>
						</div>
					</div>							
					<div class="form-group row mt-4">
						<div class="col-sm-5"></div>
						<div class="col-sm-4 text-center">
							<button type="submit" class="btn btn-dark form-control">Reset</button>
						</div>
					</div>
				</form>				
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/forget.js}"></script>
</body>
</html>
